@font-face

/* Black */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueBlack.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face

/* Black Italic */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueBlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face

/* Bold */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face

/* Bold Italic */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueBoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face

/* Roman (Normal) */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueRoman.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face

/* Italic*/
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face

/* Thin */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueThin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face

/* Thin Italic */
    {
    font-family: "HelveticaNeue";
    src: url("fonts/HelveticaNeueThinItalic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

html {
    font-family: "HelveticaNeue", sans-serif;
    font-weight: 400;
}

